displayImageMatrix/.idea
displayImageMatrix/cmake-build-debug/CMakeFiles
displayImageMatrix/cmake-build-debug
displayingImage/.idea
displayingImage/cmake-build-debug
modifyColorPixels/.idea
modifyColorPixels/cmake-build-debug
displayImageAlphaChannel/.idea
displayImageAlphaChannel/cmake-build-debug
createImageMask/.idea
createNewImage/.idea
createImageMask/cmake-build-debug
createNewImage/cmake-build-debug
imageContrastBrightness/.idea
imageContrastBrightness/cmake-build-debug
sunglassFilterApp/.idea
sunglassFilterApp/cmake-build-debug
annotateImage/.idea
annotateImage/cmake-build-debug
QRCodeDetector/.idea
QRCodeDetector/cmake-build-debug
playVideoBasics/.idea
playVideoBasics/cmake-build-debug
resources
webCamWithKeyboardInput/.idea
webCamWithKeyboardInput/cmake-build-debug
mouseEventsSample/.idea
mouseEventsSample/cmake-build-debug
Assignment2_FaceAnnotationTool/.idea
Assignment2_FaceAnnotationTool/cmake-build-debug
Assignment3_ResizeImageUsingTrackbar/.idea
Assignment3_ResizeImageUsingTrackbar/cmake-build-debug
ErosionAndDilationSample/.idea
ErosionAndDilationSample/cmake-build-debug
implementMorphologicalOps/.idea
implementMorphologicalOps/cmake-build-debug
thresholdAlgorithmSample/.idea
thresholdAlgorithmSample/cmake-build-debug
implementContours/.idea
implementContours/cmake-build-debug
blobDetection/.idea
blobDetection/cmake-build-debug
coinDetectionAssignment/.idea
coinDetectionAssignment/cmake-build-debug
assignment_cvtColor/.idea
assignment_cvtColor/cmake-build-debug
