displayImageMatrix/.idea
displayImageMatrix/cmake-build-debug/CMakeFiles
displayImageMatrix/cmake-build-debug
displayingImage/.idea
displayingImage/cmake-build-debug
modifyColorPixels/.idea
modifyColorPixels/cmake-build-debug
displayImageAlphaChannel/.idea
displayImageAlphaChannel/cmake-build-debug
createImageMask/.idea
createNewImage/.idea
createImageMask/cmake-build-debug
createNewImage/cmake-build-debug
